{% extends "bootstrap_layout.html" %}
{% set active_page = "dashboard" %}

{% block content %}

{% set nav_links = [
  ('/dashboard/schedule?League='~league~'&Team='~team, 'dashboard_schedule', 'Schedule'),
  ('/dashboard/standings?League='~league~'&Team='~team, 'dashboard_standings', 'Standings'),
] -%}
{% set active_page = active_page|default('dashboard') -%}
<nav style="background-color:{{ htmlcolours[1] }}" class="navbar navbar-expand-lg navbar-dark" >
    <div class="container-fluid" style="background-color:{{ htmlcolours[0] }}">
      <a href="{{'/dashboard?League='+league+'&Team='+team}}" style="text-decoration:none;"><img src="{{ LogoUrl }}" alt="Home" style="height:50px;margin:3px 10px;color:{{ htmlcolours[2] }};" onerror="this.src='/static/logo3.ico';"></a>
      <!-- <a class="navbar-brand" href="{{'/dashboard?League='+league+'&Team='+team}}">Home</a> -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
            {% for href, page_id, link_text in nav_links %}
                {% if page_id == active_page %}
                    {% set is_active = "font-weight:bold" -%}
                {% else %}
                    {% set is_active = "" -%}
                {% endif %}

                <li class="nav-item">
                    <a class="nav-link {{ is_active }}" href="{{href}}" style="color:{{ htmlcolours[2] }};{{ is_active }}">{{link_text}}</a>
                </li>
            {% endfor %}
            </ul>
        </div>
    </div>
</nav>



<!-- can add color or maybe give it a different font -->

<!-- <img src="{{ LogoUrl }}" alt="logo" style="width:200px"> -->

<!-- fixed position and fixed size -->
<div style="width: 100%">
<div style="float: left;width: 66.6%;margin-top: 16px;margin-bottom: 16px;padding: 0 8px;">

  <div style="float: left;width: 66.6%;margin-top: 88px;margin-bottom: 88px;">
    <h1 style= "text-align:center;top:50%;left:50%">{{ team }}</h1>
  </div>

  <div style="float: right;width: 33.4%;height:50%;margin-top: 16px;margin-bottom: 16px;">
    <img src="{{ LogoUrl }}" alt="logo" style="Height:200px" onerror="this.src='/static/logo3.ico';">
  </div>

  <div>
  <a href="{{'/dashboard/schedule?League='~league~'&Team='~team }}" style="color: #000000;text-decoration: none;"><h3>Recent/Upcoming {{ league }} Matches</h3></a>
  <table style="width:100%">
    <tr style="border-bottom:1px solid #ddd">
      <th style="text-align:left">Scheduled</th>
      <th style="text-align:center">Time</th>
      <th style="text-align:right">Home Team</th>
      <th style="text-align:center">Score</th>
      <th style="text-align:left">Away Team</th>
    </tr>
    {% if last != [] %}
        <tr style="border-bottom:1px solid #ddd;background-color:#E6E6E6;font-weight:bold" >
          <td style="text-align:left">{{ last["DateTime"] }}</td>
          <td style="text-align:center">{{ last["ClockDisplay"] }}</td>
          <td style="text-align:right"><a href="{{'/dashboard?League='+league+'&Team='+last['HomeTeamName']}}" style="color: #000000;text-decoration: none;">{{ last["HomeTeamName"] }}</a></td>
          {% if last["HomeTeamScore"] != None and last["AwayTeamScore"] != None %}
          <td style="text-align:center">{{ last["HomeTeamScore"]~"-"~last["AwayTeamScore"] }}</td>
          {% else %}
          <td style="text-align:center">TBD</td>
          {% endif %}
          <td style="text-align:left"><a href="{{'/dashboard?League='+league+'&Team='+last['AwayTeamName']}}" style="color: #000000;text-decoration: none;">{{ last["AwayTeamName"] }}</a></td>
        </tr>
    {% endif %}
    {% if next != [] %}
        <tr style="border-bottom:1px solid #ddd">
          <td style="text-align:left">{{ next["DateTime"] }}</td>
          <td style="text-align:center">{{ next["ClockDisplay"] }}</td>
          <td style="text-align:right"><a href="{{'/dashboard?League='+league+'&Team='+next['HomeTeamName']}}" style="color: #000000;text-decoration: none;">{{ next["HomeTeamName"] }}</a></td>
          {% if next["HomeTeamScore"] != None and next["AwayTeamScore"] != None %}
          <td style="text-align:center">{{ next["HomeTeamScore"]~"-"~next["AwayTeamScore"] }}</td>
          {% else %}
          <td style="text-align:center">TBD</td>
          {% endif %}
          <td style="text-align:left"><a href="{{'/dashboard?League='+league+'&Team='+next['AwayTeamName']}}" style="color: #000000;text-decoration: none;">{{ next["AwayTeamName"] }}</a></td>
        </tr>
    {% endif %}
  </table>
  </div>
</div>
<div style="float: right;width: 33.4%;margin-top: 16px;margin-bottom: 16px;padding: 0 8px;">
  <a href="{{'/dashboard/standings?League='~league~'&Team='~team }}" style="color: #000000;text-decoration: none;"><h3>{{ league }} Standings</h3></a>
  <table style="width:100%">
    <tr style="border-bottom:1px solid #ddd">
      <th style="text-align:left"></th>
      <th style="text-align:left">Team</th>
      <th style="text-align:center">Played</th>
      <th style="text-align:center">Points</th>
    </tr>
    {% for i in standings %}
      {% if i["Name"] == team %}
        <tr style="border-bottom:1px solid #ddd;background-color:#E6E6E6;font-weight:bold">
          <td style="text-align:left">{{ i["Order"] }}</td>
          <td style="text-align:left"><a href="{{'/dashboard?League='+league+'&Team='+i['Name']}}" style="color: #000000;text-decoration: none;">{{ i["Name"] }}</a></td>
          <td style="text-align:center">{{ i["Games"] }}</td>
          <td style="text-align:center">{{ i["Points"] }}</td>
        </tr>
      {% else %}
        <tr style="border-bottom:1px solid #ddd">
          <td style="text-align:left">{{ i["Order"] }}</td>
          <td style="text-align:left"><a href="{{'/dashboard?League='+league+'&Team='+i['Name']}}" style="color: #000000;text-decoration: none;">{{ i["Name"] }}</a></td>
          <td style="text-align:center">{{ i["Games"] }}</td>
          <td style="text-align:center">{{ i["Points"] }}</td>
        </tr>
      {% endif %}
    {% endfor %}
  </table>
</div>
</div>

{% endblock %}
