{% extends "bootstrap_layout.html" %}
{% set active_page = "dashboard_schedule" %}

{% block content %}

{% set nav_links = [
  ('/dashboard/schedule?League='~league~'&Team='~team, 'dashboard_schedule', 'Schedule'),
  ('/dashboard/standings?League='~league~'&Team='~team, 'dashboard_standings', 'Standings'),
] -%}
{% set active_page = active_page|default('dashboard') -%}
<nav style="background-color:{{ htmlcolours[1] }}" class="navbar navbar-expand-lg navbar-dark" >
    <div class="container-fluid" style="background-color:{{ htmlcolours[0] }}">
      <a href="{{'/dashboard?League='+league+'&Team='+team}}" style="text-decoration:none;"><img src="{{ LogoUrl }}" alt="Home" style="height:50px;margin:3px 10px;color:{{ htmlcolours[2] }};"></a>
      <!-- <a class="navbar-brand" href="{{'/dashboard?League='+league+'&Team='+team}}">Home</a> -->

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
            {% for href, page_id, link_text in nav_links %}
                {% if page_id == active_page %}
                    {% set is_active = "font-weight:bold" -%}
                {% else %}
                    {% set is_active = "" -%}
                {% endif %}

                <li class="nav-item">
                    <a class="nav-link {{ is_active }}" href="{{href}}" style="color:{{ htmlcolours[2] }};{{ is_active }}">{{link_text}}</a>
                </li>
            {% endfor %}
            </ul>
        </div>
    </div>
</nav>

<h2>Schedule for {{ team }} in {{ league }}</h2>

<table style="width:100%">
  <tr style="border-bottom:1px solid #ddd">
    <th style="text-align:left">Scheduled</th>
    <th style="text-align:center">Time</th>
    <th style="text-align:right">Home Team</th>
    <th style="text-align:center">Score</th>
    <th style="text-align:left">Away Team</th>
  </tr>
  {% for i in schedule %}
    {% if i["DateTime"] == last["DateTime"] %}
      <tr style="border-bottom:1px solid #ddd;background-color:#E6E6E6;font-weight:bold" >
        <td style="text-align:left">{{ i["DateTime"] }}</td>
        <td style="text-align:center">{{ i["ClockDisplay"] }}</td>
        <td style="text-align:right"><a href="{{'/dashboard?League='+league+'&Team='+i['HomeTeamName']}}" style="color: #000000;text-decoration: none;">{{ i["HomeTeamName"] }}</a></td>
        {% if i["HomeTeamScore"] != None and i["AwayTeamScore"] != None %}
        <td style="text-align:center">{{ i["HomeTeamScore"]~"-"~i["AwayTeamScore"] }}</td>
        {% else %}
        <td style="text-align:center">TBD</td>
        {% endif %}
        <td style="text-align:left"><a href="{{'/dashboard?League='+league+'&Team='+i['AwayTeamName']}}" style="color: #000000;text-decoration: none;">{{ i["AwayTeamName"] }}</a></td>
      </tr>
    {% else %}
      <tr style="border-bottom:1px solid #ddd">
        <td style="text-align:left">{{ i["DateTime"] }}</td>
        <td style="text-align:center">{{ i["ClockDisplay"] }}</td>
        <td style="text-align:right"><a href="{{'/dashboard?League='+league+'&Team='+i['HomeTeamName']}}" style="color: #000000;text-decoration: none;">{{ i["HomeTeamName"] }}</a></td>
        {% if i["HomeTeamScore"] != None and i["AwayTeamScore"] != None %}
        <td style="text-align:center">{{ i["HomeTeamScore"]~"-"~i["AwayTeamScore"] }}</td>
        {% else %}
        <td style="text-align:center">TBD</td>
        {% endif %}
        <td style="text-align:left"><a href="{{'/dashboard?League='+league+'&Team='+i['AwayTeamName']}}" style="color: #000000;text-decoration: none;">{{ i["AwayTeamName"] }}</a></td>
      </tr>
    {% endif %}
  {% endfor %}
</table>

{% endblock %}
