{% extends "bootstrap_layout.html" %}
{% set active_page = "dashboard" %}

{% block content %}

{% set nav_links = [
  ('/dashboard/schedule?League='~league~'&Team='~team, 'dashboard_schedule', 'Schedule'),
  ('/dashboard/standings?League='~league~'&Team='~team, 'dashboard_standings', 'Standings'),
] -%}
{% set active_page = active_page|default('dashboard') -%}
<nav style="background-color:{{ htmlcolours[1] }}" class="navbar navbar-expand-lg navbar-dark" >
    <div class="container-fluid" style="background-color:{{ htmlcolours[0] }}">
      <a href="{{'/dashboard?League='+league+'&Team='+team}}"><img src="{{ LogoUrl }}" alt="Home" style="height:50px;margin:0px 10px"></a>
      <!-- <a class="navbar-brand" href="{{'/dashboard?League='+league+'&Team='+team}}">Home</a> -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
            {% for href, page_id, link_text in nav_links %}
                {% if page_id == active_page %}
                    {% set is_active = "font-weight:bold" -%}
                {% else %}
                    {% set is_active = "" -%}
                {% endif %}

                <li class="nav-item">
                    <a class="nav-link {{ is_active }}" href="{{href}}" style="color:{{ htmlcolours[2] }};{{ is_active }}">{{link_text}}</a>
                </li>
            {% endfor %}
            </ul>
        </div>
    </div>
</nav>

<h1>{{ team }}</h1>

<!-- can add color or maybe give it a different font -->

<img src="{{ LogoUrl }}" alt="logo" style="width:200px">

<!-- fixed position and fixed size -->

<table style="width:100%"></table>
    <tr style="border-bottom:1px solid #ddd">
        <td style="text-align:center">{{ last["DateTime"] }}</td>
        <td style="text-align:center">{{ last["HomeTeamName"] }}</td>
        {% if next["HomeTeamScore"] != None and last["AwayTeamScore"] != None %}
        <td style="text-align:center">{{ last["HomeTeamScore"]~"-"~i["AwayTeamScore"] }}</td>
        {% else %}
        <td style="text-align:center">TBD</td>
        {% endif %}
        <td style="text-align:center">{{ last["AwayTeamName"] }}</td>
      </tr>
</table>

<table style="width:100%"></table>
    <tr style="border-bottom:1px solid #ddd">
        <td style="text-align:center">{{ next["DateTime"] }}</td>
        <td style="text-align:center">{{ next["HomeTeamName"] }}</td>
        {% if next["HomeTeamScore"] != None and next["AwayTeamScore"] != None %}
        <td style="text-align:center">{{ next["HomeTeamScore"]~"-"~i["AwayTeamScore"] }}</td>
        {% else %}
        <td style="text-align:center">TBD</td>
        {% endif %}
        <td style="text-align:center">{{ next["AwayTeamName"] }}</td>
      </tr>
</table>
        </tr>
{% endblock %}
