{% extends "bootstrap_layout.html" %}
{% set active_page = "home" %}

{% block content %}

    <h1>Home</h1>

    <p>Welcome to the Team Dashboard.</p>
    <hr>

    <form action="/team" method="POST">

        <label for="League">Select your League:</label>
        <select name="League" id="League">
          {% for league in leagues %}
            <option value="{{ league }}">{{ league }}</option>
          {% endfor %}
        </select>
        <br>
        <br>
        <!-- <label for="team">Select your Team:</label>
        <select name="team" id="team">
            <option value="Inter">Inter</option>
            <option value="Juventus">Juventus</option>
            <option value="Milan">Milan</option>
            <option value="Chelsea">Chelsea</option>
        </select>
        <br> -->

        <button>Submit</button>
    </form>


{% endblock %}
