{% extends "bootstrap_layout.html" %}
{% set active_page = "home" %}

{% block content %}

<h1>Home</h1>

<p>Welcome to the Team Dashboard.</p>
<hr>
<form action="/dashboard" method="POST">

    <!-- <label for="league">Select your League:</label>
    <select name="league" id="league">
        <option value="Serie A">Serie A</option>
        <option value="Premier League">Premier League</option>
        <option value="UEFA Champions League">UEFA Champions League</option>
    </select>
    <br>
    <br> -->
    <label for="Team">Select your Team in {{ league }}:</label>
    <select name="Team" id="Team">
      {% for team in teams %}
        <option value="{{ team }}">{{ team }}</option>
      {% endfor %}
    </select>
    <input type="hidden" name="League" value="{{ league }}"/>
    <br>
    <br>

    <button>Submit</button>
</form>

{% endblock %}
